<tr>
	<th align="left">Scanner</th>
	#set($currentScanner=$item.getProperty("scanner"))
	#set($scanners = $data.getSession().getAttribute("userHelper").getQueryResultsAsArrayList("SELECT DISTINCT isd.scanner  FROM xnat_imageSessionData isd LEFT JOIN xnat_experimentData expt ON isd.id=expt.id LEFT JOIN xdat_meta_element xme ON expt.extension=xme.xdat_meta_element_id LEFT JOIN xnat_imageScanData scan ON isd.id=scan.image_session_id WHERE xme.element_name='xnat:petSessionData' AND scan.scanner='$currentScanner'"))

	#if($scanners.size()==0)
		#if($project)
			#set($scanners = $data.getSession().getAttribute("userHelper").getQueryResultsAsArrayList("SELECT DISTINCT isd.scanner  FROM xnat_petSessionData mr LEFT JOIN xnat_imageSessionData isd ON mr.id=isd.id LEFT JOIN xnat_experimentData expt ON isd.id=expt.id WHERE expt.project='$project'"))
			#if($scanners.size()==0)
				#set($scanners = $data.getSession().getAttribute("userHelper").getQueryResultsAsArrayList("SELECT DISTINCT isd.scanner  FROM xnat_petSessionData mr LEFT JOIN xnat_imageSessionData isd ON mr.id=isd.id"))						
			#end
		#else
			#set($scanners = $data.getSession().getAttribute("userHelper").getQueryResultsAsArrayList("SELECT DISTINCT isd.scanner  FROM xnat_petSessionData mr LEFT JOIN xnat_imageSessionData isd ON mr.id=isd.id"))
		#end
	#end

	#if($scanners.size()==0)
		<td> #xdatTextBox("xnat:petSessionData.scanner" $item "" $vr)</td>
	#else
		<td>
			<script type="text/javascript">
				window.ss=new Object();
				
				#if($project)
					window.ss.uri=serverRoot +"/REST/scanners?format=json&modality=xnat_petSessionData";
				#end

				window.ss.local_values=new Array();
				window.ss.custom = new Array();
				window.ss.valueField="scanner";
				
				## Push the current scanner name into the array.
				## Use the custom array to insure that the value is displayed weather we 
				## are using local_values or all_values (see customizableSelectBox.js lines 54-93)
				#set($currScannerName=$!item.getStringProperty("${datatype}/scanner"))
                window.ss.custom.push("$!turbineUtils.escapeHTML($currScannerName)");
				
				#foreach ($pValue in $scanners)
					#if($pValue.get(0))
						## Don't add the current scanner name since we added it above.
						#if($pValue.get(0) != $item.getStringProperty("${datatype}/scanner"))
							#set($tempScannerName=$!turbineUtils.escapeHTML($pValue.get(0)))
                        	window.ss.local_values.push({"scanner":"$tempScannerName"});
						#end
					#end
				#end
			</script>
			
			#xdatComboBox("xnat:petSessionData.scanner" $item "window.ss" $vr)
			<a onclick="xmodal.message('Session Data Fields', 'If the required value is not in the list, select MORE to show additional options or CUSTOM to add your own value.');"><img border="0" src="$content.getURI("images/qm.gif")"/></a>
			#if($item.getStringProperty("xnat:petSessionData/scanner/manufacturer") || $item.getStringProperty("${datatype}/scanner/model") || $!item.getStringProperty("${datatype}/scanner"))
				&nbsp;($!item.getStringProperty("xnat:petSessionData/scanner/manufacturer") 					 $!item.getStringProperty("${datatype}/scanner/model")					 $!turbineUtils.escapeHTML($!item.getStringProperty("${datatype}/scanner")))
			#end
		</td>
	#end
</tr>

					<tr>
						<th align="left">Acquisition Site</th>
						<td>
						 #xdatTextBox("xnat:petSessionData.acquisition_site" $item "" $vr)
			 </td>
		</tr>

		<tr name="additional_fields" >
			 <th align="left">Operator</th>
			 <td>
		  	#if ($vr)
	    		#if($vr.getField("${datatype}.operator"))
		      	<font color="red">&#8658</font>
	    		#end
  			#end
	  		#if ($item.getProperty("${datatype}.operator"))
	  			<input type="text" name="${datatype}.operator"
	    	  #if ($item.getProperty("${datatype}.operator")=="null")
		      	value=""
		      #else
		      	value="$item.getProperty("${datatype}.operator")"
		      #end
		      />
	  		#else
	    		<input type="text" name="${datatype}.operator" value=""/>
	  		#end
		  </td>
		  <td></td> <!-- no hints available -->
		</tr>
		
		<tr>
<th align="left">Tracer</th>
					  <td>
                #if($petTracerList.size()==0)
#xdatTextBox("xnat:petSessionData.tracer.name" $item "" $vr)
			#else
<script type="text/javascript">
				  window.tracer=new Object();
				  window.tracer.local_values=new Array();
				  window.tracer.valueField="tracer";
                        #foreach ($pValue in $petTracerList)
                        window.tracer.local_values.push({"tracer":"$pValue"});
				  #end
				 </script>
					  #xdatComboBox("xnat:petSessionData.tracer.name" $item "window.tracer" $vr)
					  <a onclick="xmodal.message('Session Data Fields', 'If the required value is not in the list, select MORE to show additional options or CUSTOM to add your own value.');"><img border="0" src="$content.getURI("images/qm.gif")"/></a>
			#end
  </td>
					</tr>
					#set($units =["mCi","ug"])
													         <TR>
					<th align="left">Transmissions</th>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.transmissions" $item "" $vr)</td>
					</tr>								        
													         <TR>
					<th align="left">Time of Injection</th>
					  <td>#xdatTimeBox("xnat:petSessionData/start_time_injection" $item $vr)</td>
					</tr>
													         <TR>
					 <th align="left">Tracer Dosage</th>
					 <td align="left" NOWRAP>
						  <TABLE>
						    <TR>
						      <TD align="left" style="padding-left:0px;">#xdatTextBox("xnat:petSessionData.tracer.dose" $item "" $vr)</TD>
						      <TD>#xdatSelectBoxWSingleValue("xnat:petSessionData.tracer.dose.units" $item $units  $vr)</TD>
						    </TR>
						  </TABLE>
						 </td>
					</tr>
										
													         <TR>
					<th align="left">Specific Activity</th>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.specificActivity" $item "" $vr)</td>
					</tr>
													         <TR>
					<th align="left">Total mass</th>
					 <td align="left" NOWRAP>
						  <TABLE>
													         <TR>
						      <TD align="left" style="padding-left:0px;">#xdatTextBox("xnat:petSessionData.tracer.totalMass" $item "" $vr)</TD>
						      <TD>#xdatSelectBoxWSingleValue("xnat:petSessionData.tracer.totalMass.units" $item $units  $vr)</TD>
						    </TR>
						  </TABLE>
						 </td>
					</tr>         
													         <TR>
					<th align="left">Emission Scan Start-time</th>
					  <td>#xdatTimeBox("xnat:petSessionData/start_time_scan" $item $vr)</td>
					</tr>    
													